$body-bg: #5d5f63;
$modal-content-bg: $body-bg;
$input-bg: #757d8b;
$input-color: #c1c5ca;
$dropdown-bg: $body-bg;
$dropdown-link-hover-bg: $input-bg;


@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';